/nbproject/private/
/build/
/NizarHachmi/nbproject/private/
/JavaApplication9/nbproject/private/
/dist/
/MiniProjet/nbproject/private/
/MiniProjet/build/
/MiniProjet/dist/
/trash/nbproject/private/
/trash/build/
